<a href="https://colab.research.google.com/github/Adarsh0911/Elements-of-Aiml-LAb-Adarsh-Singh/blob/main/Aiml_exp_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

In [1]:
import pandas as pd

# Example dataset (Titanic dataset)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Display basic details about the dataset
print("Dataset Info:")
print(df.info())
print("\nFirst 5 Rows of the Dataset:")
print(df.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

First 5 Rows of the Dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
# Separate numerical and categorical columns
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

print("\nNumerical Columns:", numerical_columns)
print("Categorical Columns:", categorical_columns)

Numerical Columns: Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
Categorical Columns: Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [3]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Choose scaling method: MinMaxScaler or StandardScaler
scaler = MinMaxScaler()
# scaler = StandardScaler()

# Scale the numerical columns
df_scaled = df.copy()
df_scaled[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print("\nFirst 5 Rows After Scaling Numerical Features:")
print(df_scaled.head())

First 5 Rows After Scaling Numerical Features:
   PassengerId  Survived  Pclass  \
0     0.000000       0.0     1.0
1     0.001124       1.0     0.0
2     0.002247       1.0     1.0
3     0.003371       1.0     0.0
4     0.004494       0.0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  0.271174  0.125
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.472229  0.125
2                             Heikkinen, Miss. Laina  female  0.321438  0.000
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.434531  0.125
4                           Allen, Mr. William Henry    male  0.434531  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   NaN        S
1    0.0          PC 17599  0.139136   C85        C
2    0.0  STON/O2. 3101282  0.015469   NaN        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   NaN        S

In [4]:
# One-hot encode the categorical columns
df_encoded = pd.get_dummies(df_scaled, columns=categorical_columns)

print("\nFirst 5 Rows After One-Hot Encoding Categorical Features:")
print(df_encoded.head())

First 5 Rows After One-Hot Encoding Categorical Features:
   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare  \
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713

   Name_Abbing, Mr. Anthony  Name_Abbott, Mr. Rossmore Edward  \
0                     False                             False
1                     False                             False
2                     False                             False
3                     False                             False
4                     False                             False

   Name_Abbott, Mrs. Stanton (Rosa Hunt)  ...  Cabin_F G73  Cabin_F2  \
0                                  False  ...        False     False
1                                  False  ...        False     False
2                                  False  ...        False     False
3                                  False  ...        False     False
4                                  False  ...        False     False

   Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  Cabin_T  Embarked_C  Embarked_Q  \
0      False      False     False     False    False       False       False
1      False      False     False     False    False        True       False
2      False      False     False     False    False       False       False
3      False      False     False     False    False       False       False
4      False      False     False     False    False       False       False

   Embarked_S
0        True
1       False
2        True
3        True
4        True

[5 rows x 1731 columns]

In [5]:
print("\nOriginal Dataset (First 5 Rows):")
print(df.head())

print("\nPreprocessed Dataset (First 5 Rows):")
print(df_encoded.head())

Original Dataset (First 5 Rows):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Preprocessed Dataset (First 5 Rows):
   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare  \
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713

   Name_Abbing, Mr. Anthony  Name_Abbott, Mr. Rossmore Edward  \
0                     False                             False
1                     False                             False
2                     False                             False
3                     False                             False
4                     False                             False

   Name_Abbott, Mrs. Stanton (Rosa Hunt)  ...  Cabin_F G73  Cabin_F2  \
0                                  False  ...        False     False
1                                  False  ...        False     False
2                                  False  ...        False     False
3                                  False  ...        False     False
4                                  False  ...        False     False

   Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  Cabin_T  Embarked_C  Embarked_Q  \
0      False      False     False     False    False       False       False
1      False      False     False     False    False        True       False
2      False      False     False     False    False       False       False
3      False      False     False     False    False       False       False
4      False      False     False     False    False       False       False

   Embarked_S
0        True
1       False
2        True
3        True
4        True

[5 rows x 1731 columns]

In [6]:
print("\nMemory Usage Before Preprocessing:")
print(df.memory_usage(deep=True).sum(), "bytes")

print("\nMemory Usage After Preprocessing:")
print(df_encoded.memory_usage(deep=True).sum(), "bytes")

Memory Usage Before Preprocessing:
322588 bytes

Memory Usage After Preprocessing:
1586108 bytes